<div class="navbar">
  <a class="navbar-item is-light" [routerLink]="['/list']">Board List</a>
  <a class="navbar-item is-light" [routerLink]="['/board']">Board</a>
  <a class="navbar-item is-light" [routerLink]="['/burndown']">Burndown</a>
</div>

<!--

  <div class="navbar">
  <a class="navbar-item is-light" *ngIf="authService.user | async" [routerLink]="['/list']">Board List</a>
  <a class="navbar-item is-light" *ngIf="authService.user | async" [routerLink]="['/board']">Board</a>
  <a class="navbar-item is-light" *ngIf="authService.user | async" [routerLink]="['/burndown']">Burndown</a>
</div>
-->
